.add-image {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-imagetext2 {
  font-size: 38px;
  font-weight: 500;
  margin-top: 50px;
}

.add-imagetext3 {
  font-size: 38px;
  font-weight: 500;
  margin-top: 20px;
}

.add-imagetext {
  color: var(--blue);
  font-size: 38px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  color: var(--black);
}

.upload-section {
  margin: 20px;
}

.upload-button {
  display: inline-block;
  background-color: var(--blue);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.upload-icon {
  width: 67px;
  height: 67px;
}

.fullscreen-dropzone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-dropzone-text {
  color: var(--white);
  font-size: 32px;
}

.image-container {
  display: flex;
  width: 600px; /* 고정된 너비 */
  overflow-x: scroll; /* 좌우 스크롤을 활성화 */
  padding: 10px 10px;
  gap: 30px;
  box-sizing: border-box;
  scroll-behavior: smooth; /* 스크롤이 부드럽게 동작하도록 설정 */
}

/* 전체 스크롤바 스타일 */
.image-container::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  height: 7px; /* 가로 스크롤바의 높이 */
}

/* 스크롤바 트랙 스타일 (배경) */
.image-container::-webkit-scrollbar-track {
  background: var(--light_blue_10); /* 트랙 배경색 */
  border-radius: 10px; /* 트랙의 둥근 모서리 */
}

/* 스크롤바 핸들 스타일 */
.image-container::-webkit-scrollbar-thumb {
  background: var(--gray_blue_30); /* 핸들의 색상 */
  border-radius: 10px; /* 핸들의 둥근 모서리 */
}

/* 스크롤바 핸들 hover 스타일 */
.image-container::-webkit-scrollbar-thumb:hover {
  background: var(--navy); /* Hover 시 핸들의 색상 */
}

/* 스크롤바의 두 끝 버튼 제거 */
.image-container::-webkit-scrollbar-button {
  display: none;
}


.image-wrapper {
  position: relative;
  width: 100px;
  height: 120px;
  border: 1px solid var(--gray);
  border-radius: 20px;
  background: var(--light-gray);
  flex-shrink: 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.delete-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: none;
  background: var(--blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-icon {
  width: 24px;
  height: 24px;
}

.submit-button {
  display: block;
  width: 180px;
  height: 64px;
  font-size: 28px;
  font-weight: 500;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 40px auto;
  margin-top: 60px;
}

.submit-button:hover {
  box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, 0.25); /* Inner Shadow */
}
