.analysis-result {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    position: relative;
}
  
/* 채팅 섹션 */
.chat-section {
    width: 440px;
}
  
.chat-section h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
  
.chat-box {
    height: 480px;
    overflow-y: auto;
    padding-right: 10px;
    background-color: #9BBBD4;
    padding: 10px;
}
  
.chat-bubble {
    max-width: 60%;
    width: fit-content;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
}
  
.my-message {
    background-color: var(--white);
    color: var(--black);
    align-self: flex-end;
    text-align: left;
    margin-left: auto;
    border-top-right-radius: 0;
}
  
.other-message {
    background-color: #f9c74f;
    color: var(--black);
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
    border-top-left-radius: 0;
}
  
/* 결과 섹션 */
.result-section {
    margin-left: 5%;
    margin-top: -20px;
}

.result-section-title {
    font-size: 35px;
    font-weight: 800;
    color: var(--black);
    height: 55;
    display: flex;
    align-items: center;
}

.result-section-title-text {
    font-size: 35px;
    font-weight: 500;
    color: var(--black);
    margin-right: 15px;
    margin-left: 10px;
}

.result-section-subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
}
  
.scam-percentage {
    color: var(--blue);
    font-weight: 800;
    font-size: 55px;
}
  
.criteria-list {
    margin-top: 25px;
}
  
.criteria-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
  
.criteria-item .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
  
.criteria-text {
    font-size: 30px;
    font-weight: 500;
}
  
.red-text {
    color: var(--red);
}
  
.green-text {
    color: var(--black);
}

.back-button-to-analysis-result {
    position: absolute;
    top: -50px;
    width: 120px;
    height: 30px;
    background-color: var(--navy);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-size: 15px;
    cursor: pointer;
}

/* 중고 거래 체크리스트 섹션 */
.checklist-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .checklist-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--black);
  }
  
  .checklist-items {
    list-style-type: none;
    padding-left: 0;
  }
  
  .checklist-item {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
    display: flex;
    align-items: center;
  }
  
  .checklist-item::before {
    content: "•";
    color: var(--blue);
    font-weight: bold;
    margin-right: 8px;
  }
  