.category-selection-form {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 10px 80px;
}

.category-item {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 11px;
  font-weight: 600;
  margin: 10px 10px;
  text-align: center;
}

.category-item:hover {
  background-color: var(--blue);
  color: var(--white);
}

.category-item.selected {
  background-color: var(--navy);
  color: var(--white);
  border-color: var(--navy);
}

.category-icon-image {
  width: 60px;
  height: 60px;
  object-fit: contain; /* 이미지를 아이콘 크기에 맞게 조정 */
  margin-bottom: 5px;
}

.category-icon-placeholder {
  width: 60px;
  height: 60px;
  background-color: var(--gray);
  border-radius: 5px;
  margin-bottom: 5px;
}

.form-section {
  margin: 40px auto;
  width: fit-content;
  align-self: center;
  font-weight: 500;
  font-size: 13px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group label {
  width: 100px;
  text-align: left;
  margin-right: 10px;
}

/* 거래 사이트 스타일 */
.site-select-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* 입력폼 focus시 border색 변경 */
.site-select:focus,
.site-url:focus,
.item-name:focus,
.suspect-select:focus,
.suspect-input:focus,
.post-url:focus {
  border: 0.5px solid var(--blue);
}

.site-select {
  width: 240px;
  height: 40px;
  padding: 0 5px;
  border: 0.5px solid var(--navy);
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  outline: none;
}

.url-prefix {
  color: var(--dark_gray);
  font-size: 13px;
  font-weight: 500;
  margin-right: -5px;
}

.site-url {
  width: 240px;
  height: 40px;
  padding: 0 5px;
  border: 0.5px solid var(--navy);
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  outline: none;
}

/* 거래 물품명 스타일 */
.item-name {
  height: 40px;
  width: 640px;
  padding: 0 10px;
  border: 0.5px solid var(--navy);
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  outline: none;
}

/* 용의자 인적 사항 스타일 */
.suspect-info-container {
  display: flex;
  align-items: center;
}

.suspect-select {
  height: 40px;
  width: 248px;
  padding: 0 5px;
  border: 0.5px solid var(--navy);
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  margin-right: 20px;
  outline: none;
}

.suspect-input {
  width: 372px;
  height: 40px;
  padding: 0 10px;
  border: 0.5px solid var(--navy);
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  outline: none;
}

/* 판매 게시물 URL 스타일 */
.post-url {
  width: 640px;
  height: 40px;
  padding: 0 10px;
  border: 0.5px solid var(--navy);
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  outline: none;
}

.submit-button {
  display: block;
  width: 180px;
  height: 64px;
  font-size: 28px;
  font-weight: 500;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 40px auto;
}

.submit-button:hover {
  box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, 0.25); /* Inner Shadow */
}

.form-group-image-preview-text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-group-image-upload-area {
  align-self: center;
  margin: 0 auto;
  width: 200px;
  height: 250px;
  border: 2px dashed var(--gray_blue_30);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  background-color: var(--light_gray);
  border-radius: 10px;
}

.form-group-image-upload-area.drag-active {
  background-color: var(--blue_10);
  border-color: var(--blue);
}

.form-group-upload-label {
  text-align: center;
  color: var(--gray);
  cursor: pointer;
}

.form-group-image-preview {
  position: relative;
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group-image-preview img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
}

.form-group-remove-image-button {
  position: absolute;
  top: -5px;
  right: -5px;
  border: none;
  background-color: var(--blue);
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group-remove-image-button-t {
  height: 20px;
  width: 20px;
}