.comments-content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 772px;
    height: 400px;
    margin: auto;
    margin-top: 40px;
}

.comments-table {
    width: 100%;
    border-collapse: collapse;
}

.comments-table-thead {
    font-size: 13px;
    font-weight: 500;
    background-color: var(--white);
}

.comments-table-tbody {
    font-size: 15px;
    font-weight: 500;
    background-color: var(--light_blue_10);
    cursor: pointer;
}

.comments-table th,
.comments-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--gray_blue_30);
}

/* 번호 열 스타일 */
.comments-table th:nth-child(1),
.comments-table td:nth-child(1) {
    width: 10%;
}

/* 타이틀 열 스타일 */
.comments-table td:nth-child(2) {
    text-align: left;
}

/* 등록일 열 스타일 */
.comments-table th:nth-child(3),
.comments-table td:nth-child(3) {
    width: 16%;
    padding-right: 10px;
}

.comments-table-tbody-title {
    padding-left: 10px;
    font-size: 13px;
    color: var(--dark_gray);
}

.comments-table-comment {
    font-size: 14px;
    margin-top: 3px;
    padding-left: 10px;
}

.comments-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.comments-pagination-arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.comments-pagination-arrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.comments-pagination-arrow:hover:not(:disabled) {
    transform: scale(1.2);
}

.comments-arrow-icon {
    width: 24px;
    height: 24px;
}

.comments-pagination-info {
    margin: 0 15px;
    font-size: 16px;
}
